{% extends  'base.html' %}
{% load staticfiles %}


{% block extrahead %}
    <title>Welcome</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}


    <div class="container">
  <div class="jumbotron">
    <h1> {{ data }}</h1>


       <p class="lead">
        <a class="btn btn-success btn-lg" href="{% url "accounts:login" %}" role="button">Login</a>
     </p>
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url "accounts:signup" %}" role="button">SignUp</a>
      </p>
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url "accounts:logout" %}" role="button">Logout</a>
      </p>
      <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url "signup" %}" role="button">Home</a>
      </p>

  </div>

</div>

{% endblock %}