{% extends  'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block extrahead %}
    <title>Signin Template for Bootstrap</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="container">

        <form action="/accounts/thanks/" method="post">
        {% csrf_token %}
        {{ form|crispy }}
         <input type="submit" value="Submit" />
    </form>


    </div> <!-- /container -->

{% endblock %}